/* @import url('adaptive.css'); */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --black-color-font: black;
}

body {
  height: 100%;
  /* margin: 0; */
  min-height: 100vh;
  background-color: #69b99d;
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.container {
  flex: 0.66666666;
  display: flex;
  justify-content: center;
  margin-top: 7%;
  margin-bottom: 7%;
  background-color: #ffffff;
}

.main-section {
  display: flex;
  flex-direction: column;
  flex: 0.8;
  margin: 64px 0px 0px 0px;
}

.nav {
  display: flex;
  justify-content: space-between;
}
.nav-ul {
  display: flex;
  flex: 0.33;
  justify-content: space-between;
}

.nav-ul li {
  list-style-type: none;
}

.traine-me {
  display: inline-block;
  font-size: 22px;
  font-family: 'Inter';
  font-weight: 700;
  color: #89c5cc;
}

.traine-me:hover {
  text-decoration: underline;
}

.home {
  font-family: 'Mulish', sans-serif;
  font-weight: 700;
  color: var(--black-color-font);
  font-size: 18px;
  display: inline-block;
}

.home:hover {
  text-decoration: underline;
}

.about {
  font-family: 'Mulish', sans-serif;
  font-weight: 200;
  color: var(--black-color-font);
  font-size: 18px;
  display: inline-block;
}
.about:hover {
  text-decoration: underline;
}

.training {
  font-family: 'Mulish', sans-serif;
  font-weight: 200;
  color: var(--black-color-font);
  font-size: 18px;
  display: inline-block;
}

.training:hover {
  text-decoration: underline;
}

.main {
  display: flex;
  flex: 1 1 auto;
}

.column {
  margin-top: 10%;
  margin-right: auto;
}

/* .girl-image {
  z-index: 0;
  align-self: flex-start;
  margin-left: auto;
  height: 500px;
  aspect-ratio: auto;
} */

.ratio {
  align-self: flex-start;
  /* margin-left: auto; */
  /* height: 500px; */
  flex-basis: 500px; /* Начальная ширина */
  flex-shrink: 1; /* Может сжиматься */

  /* aspect-ratio: auto; */
}

.slogan {
  font-family: 'Mulish', sans-serif;
  font-size: 48px;
  font-weight: 200;
  font-style: normal;
  text-transform: uppercase;
  z-index: 1;
}

.desc {
  font-family: 'Open Sans', sans-serif;
  color: #7d7987;
  font-size: 16px;
  font-weight: 200;
  padding-top: 16px;
  z-index: 1;
}

.mulish-font {
  font-family: 'Mulish', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #89c5cc;
}

.open-sans-font {
  font-family: 'Open Sans', sans-serif;
  color: #7d7987;
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14px 32px 15px;
  background: #69b99d;
  border-radius: 4px;
  border-color: #69b99d;
  margin-top: 65px;
  overflow: hidden;

  /* Style for Statr now*/
  font-family: 'DM Sans', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
}

.btn:before {
  content: url('../img/label.svg');
  position: relative;
  left: -52px;
  transition: all 200ms ease;
}
.btn:hover:before {
  left: -5px;
}

.footer {
  display: flex;
  margin-top: 45px;
  margin-bottom: 29px;
  flex-grow: 1;
}

.send-us-a-message {
  color: var(--black-color-font);
  font-family: 'Open Sans';
  font-weight: 400;
  margin-left: auto;
  margin-right: auto;
}

.footer-email {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: var(--black-color-font);
  text-decoration: none;
}

.balls-decoration {
  /* display: block; */
  position: absolute;
  margin-left: auto;
  right: -80px;
  z-index: 0;

  /* justify-self: end; */
  /* position: relative;
  right: -120px; */
}
