@import url('adaptive.css');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* html, */
body {
  height: 100%;
  margin: 0;
  /* min-height: 100%; */
  min-height: 100vh;
}

:root {
  --black-color-font: black;
}

body {
  background-color: #69b99d;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  flex: 0.66666666;
  margin-top: 7%;
  margin-bottom: 7%;
  /* height: 75%; */
  background-color: #ffffff;
}

.nav {
  padding-top: 5%;
  padding-left: 7%;
  padding-right: 7%;
  display: flex;
  justify-content: space-between;
  flex: 1;
}
.nav-ul {
  display: flex;
  flex: 0.33;
  justify-content: space-between;
}

.nav-ul li {
  list-style-type: none; /* Убираем маркеры */
}

.traine-me {
  display: inline-block;
  font-size: 22px;
  font-family: 'Inter';
  font-weight: 700;
  color: #89c5cc;
}

.home {
  font-family: 'Mulish', sans-serif;
  font-weight: 700;
  color: var(--black-color-font);
  font-size: 18px;
  display: inline-block;
}

.about {
  font-family: 'Mulish', sans-serif;
  font-weight: 200;
  color: var(--black-color-font);
  font-size: 18px;
  display: inline-block;
}

.training {
  font-family: 'Mulish', sans-serif;
  font-weight: 200;
  color: var(--black-color-font);
  font-size: 18px;
  display: inline-block;
}

.main-section {
  display: flex;
  padding-left: 7%;
  padding-right: 7%;
  justify-content: center;
}
.column {
  /* margin-top: 102px; */
  margin-top: 10%;
  margin-right: auto;
}

/* .girl-image {
  z-index: 0;
  align-self: flex-start;
  margin-left: auto;
  height: 500px;
  aspect-ratio: auto;
} */

.ratio {
  align-self: flex-start;
  /* margin-left: auto; */
  height: 500px;
  aspect-ratio: auto;
}

.slogan {
  font-family: 'Mulish', sans-serif;
  font-size: 48px;
  font-weight: 200;
  font-style: normal;
  text-transform: uppercase;
  z-index: 1;
}

.desc {
  font-family: 'Open Sans', sans-serif;
  color: #7d7987;
  font-size: 16px;
  font-weight: 200;
  padding-top: 16px;
  z-index: 1;
}

.mulish-font {
  font-family: 'Mulish', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #89c5cc;
}

.open-sans-font {
  font-family: 'Open Sans', sans-serif;
  color: #7d7987;
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14px 32px 15px;
  background: #69b99d;
  border-radius: 4px;
  border-color: #69b99d;
  margin-top: 48px;
  overflow: hidden;
}

.btn:before {
  content: url('../img/label.svg');
  position: relative;
  left: -52px;
  transition: all 200ms ease;
}
.btn:hover:before {
  left: -5px;
}

.label {
  font-family: 'DM Sans', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
}

.footer-wrapper {
  display: flex;
}

.footer {
  flex: 1;
  text-align: center;
  color: var(--black-color-font);
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  justify-self: center;
  margin-top: 45px;
}

.footer-email {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: var(--black-color-font);
}
.footer a {
  text-decoration: none;
}

.balls-decoration {
  /* display: block; */
  margin-left: auto;
}
